*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    system-ui,
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif,
    Apple Color Emoji,
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: gray;
}

a {
  color: currentColor;
}

footer {
  border-top: 2px dotted;
  text-align: center;
}

header {
  border-bottom: 2px dotted;
}

img {
  border-radius: 10px;
}

.template-homepage main {
  text-align: center;
}

.episode-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(159, 78, 159);
  border-radius: 10px;
  align-items: center;
  color: white;
  padding: 1em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.episode-table {
  padding: 1em;
  margin: 1em;
  background-color: rgb(90, 90, 90);
  border-radius: 5px;
  width: 100%;
}

th {
  padding-bottom: 1em;
  /* margin: 1em; */
}

td {
  padding: 1em;
  margin: 1em;
  background-color: white;
  color: black;
  border-radius: 5px;
}